@media (max-width:1400px) {
    main,
    header {
    margin:0 auto;
    width: 95%;
    }
}

@media (max-width:1160px){
    .section__apartaments .section__container{
        grid-template-rows: 250px 250px 250px;
    }
    .apartaments__body__firstCard{
        grid-column: 1/4;
        grid-row:1/2;
    }
    .apartaments__body__secondCard{
        grid-column: 1/4;
        grid-row:2/3;
    }
    .apartaments__body__thirdCard{
        grid-column: 1/4;
        grid-row:3/4;
    }
    .section__info{
        justify-content: center;
        gap: 15px;
    }
}
@media (max-width:848px) {
    .apartaments__title {
        padding: 0;
        padding-left: 10px;
    }
    .apartaments__price {
        padding: 0;
        padding-left: 10px;
    }
    .apartaments__address {
        padding: 0;
        padding-left: 10px;
    }
}

@media (max-width:712px) {
    .link__wrapper {
        padding: 0;
    }
    .apartaments__address {
        flex-direction: column;
    }
}

@media (max-width:2600px) {
    .link__wrapper {
        padding: 0;
    }
    .apartaments__address {
        flex-direction: column;
    }
}

@media (max-width:420px){
    .apartaments__address{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        padding-left: 0;
    }
    .apartaments__body__firstCard,
    .apartaments__body__secondCard,
    .apartaments__body__thirdCard{
        text-align: center;
    }
}

@media (max-width:1540px) {
    header, body {
        width: 95%;
    }
    /* .announcement {
        width: 100%;
    } */
    .announcement-text {
        margin-left: 70px;
    }
}

@media (max-width:690px) {
    input {
        display: none;
    }
}

@media (max-width:1040px) {
    .announcement {
        flex-direction: column;
        text-align: center;
    }
    .announcement-images {
        display: block;
        width: 80%;
        margin: 0 auto;
        height: 200px;
    }
    .flat1-1 {
        object-fit:cover;
    }
    .flat1-2, .flat1-3 {
        display: none;
    }
    .announcement-text {
        margin-left: 0;
    }
}

@media (max-width:610px) {
    button, a {
        display: none;
    }
}