body {
    max-width: 1920px;
    /* margin-top:15px; */
    margin: 15px auto 0 auto;
    padding: 0;
    font-family: "Ubuntu", serif;
    height: 100%;
}
main,
header{
    margin:0 auto;
    width: 60%;
}
ul{
    list-style-type: none;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bottom{
    display:flex;
    gap:15px;
    width:100%;
    justify-content: space-between;
    
}
.search{
    width:80%;
}
.search > input{
    width: 95%
}
.header-top-text{
    display:flex;
    gap:30px;
}
.announcement-images{
    display:grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 400px 150px;
    width: 45%;
    gap:5px;
}
.announcement-images > img {
    width:100%;
    height:100%;
    border-radius: 10px;
}
.flat1-1{
    grid-column:1/4;
    grid-row:1/2;
    object-fit: cover;
}
.flat1-2{
    grid-column:1/2;
    grid-row:2/3;
    object-fit: cover;
}
.flat1-3{
    grid-column:2/4;
    grid-row:2/3;
    object-fit: cover;
}
.announcement{
    display:flex;
}
#logo-ico{
    width:71px;
}

.header__link {
    color: #41807c;
    background-color: white;
    border: 0.5px rgba(128, 128, 128, 0.358) solid;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
}

button:hover, a:hover {
    background-color: rgb(242, 242, 242);
}

a {
    color: #41807c;
}

.search input {
    background-color: white;
    border: 0.5px rgba(128, 128, 128, 0.358) solid;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
}

.announcement-text {
    /* border: 1px #737a8e solid; */
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
}

h1 {
    color: #41807c;
    font-weight: 700;
}

p {
    font-weight: 300;
    color: #737a8e;
    font-size: 18px;
}

.announcement-text-price {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #41807c;
}

.announcement-text-title {
    color: #41807c;
    font-weight: 700;
}

.announcement {
    border: 2px rgb(237, 237, 237) solid;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    padding: 15px;
}

/* // */

.hamburger {
    display: none;
    position: fixed;
    z-index: 100;
    top: 2rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background: white;
    cursor: pointer;
    background-color: #41807c;
    border-radius: 4px;
}

.hamburger:hover {
    background-color: #366a66;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: white;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

.hmb {
    background-color: white;
    border: 0.5px rgba(128, 128, 128, 0.358) solid;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
    margin-left: 10px;
}

.li-account > a {
    border: none;
}

.menu div {
    margin-top: 15px;
}

.menu div a {
    color: #41807c;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

/* .header__link {
    color: #41807c;
    background-color: white;
    border: 0.5px rgba(128, 128, 128, 0.358) solid;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
} */

.menuItem__wrapper .menuItem__input {
    width: 205px;
    background-color: white;
    border: 0.5px rgba(128, 128, 128, 0.358) solid;
    border-radius: 5px;
    padding: 10px;
}

.menuItem__wrapper {
    display: flex;
    gap: 5px;
}

.menuItem__wrapper img {
    background-color: #41807c;
    border-radius: 30px;
    padding: 4px;
}

.menuItem__wrapper button {
    border: none;
    background-color: white;
    padding: 4px;
}

.menuItem__wrapper button:hover {
    border: none;
    background-color: rgb(243, 243, 243);
    border-radius: 30px;
}

/* .hmb__modified {
    margin-bottom: 25px;
} */

.my-hr {
    width: 100%;
    height: 1px;
    color: #41807c;;
    background-color: #41807c;
    font-size: 0;
    border-radius: 30px;
}

.ico-account {
    background-color: #41807c;
    border-radius: 30px;
    margin: 0;
    padding: 4px;
}

.a-account {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.li-account {
    margin-bottom: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0px 50px 0px;
    width:100%;
}

.custom-hr {
    margin-top: 500px;
}