body {
    margin-top:15px;
    padding: 0;
    font-family: "Ubuntu", serif;
    height: 100%;
}
main,
header{
    margin:0 auto;
    width: 60%;
}
ul{
    list-style-type: none;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
.header{
    display:flex;
    margin:20px auto;
}