body {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    height: 100%;
    font-family: "Ubuntu", serif;
}

.info__card {
    width: 274.250px;
    height: 301px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 50px;
    text-align: center;
}

.info__card img {
    width: 113px;
    height: 113px;
    /* filter: brightness(0.3); */
    margin: 28px auto 0 0;
}

.info__card p {
    width: 254.50px;
    height: 48px;
    margin: 38px 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.section__info {
    display: flex;
    justify-content: space-between;
}

.section__apartaments {
    display: flex;
    gap: 30px;
}

.section__apartaments h2 {
    font-size: 3rem;
    font-weight: 700;
}

.apartaments__body__firstCard {
    width: 629px;
    height: 280px;
    border-radius: 50px;
    background: url(../images/rent-1.png);
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.apartaments__body__secondCard {
    width: 485px;
    height: 280px;
    border-radius: 50px;
    background: url(../images/rent-2.png);
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.section__apartaments .apartaments__title {
    margin: 0;
    padding: 75px 0 55px 75px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.section__apartaments .apartaments__price {
    margin: 0;
    padding-left: 75px;
    padding-bottom: 25px;
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
}

.section__apartaments .apartaments__address {
    margin: 0;
    margin-right: 95px;
    display: inline-block;
    font-size: 1.125rem;
    color: white;
}

.section__apartaments .apartaments__image {
    display: inline-block;
    margin-left: 55px;
    /* margin-right: 5px; */
    width: 18px;
    height: 18px;
}

.apartaments__price span {
    font-weight: 700;
}

.apartaments__link {
    width: 108.22px;
    height: 38.39px;
    padding: 10px;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0px;
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #2cccc4, #41807c);
    text-decoration: none;
    border-radius: 7.5px;
}