body {
    padding: 0;
    font-family: "Ubuntu", serif;
    height: 100%;
    margin: 15px auto 0 auto;
    max-width: 1920px;
}
main,
header{
    margin:0 auto;
    width: 60%;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}
.header{
    display:flex;
    margin:20px auto;
}
.bg-wall{
    position: absolute;
    width: 48%;
    height: 1245px;
    top: 0;
    right:0;
    background-color: #41807c;
    z-index:-1;
    position: absolute;
}
.header-ul-left,
.header-ul-right{
    display:flex;
    gap:31px;
    align-items: center;
}
.header-ul-left{
    justify-content: left;
}
.header-ul-right{
    justify-content: right;
}
.header-ul-right > li > a{
    color:white;
}
.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-text > h1{
    font-size: 48px;
    font-weight: 700;
}
.main-text > p {
    font-size:36px;
    font-weight: 300;
}
.main-text{
    margin-bottom: 50px;
}
.main-image{
    max-width:574px;
    width:80%;
    border-radius: 10px;
    min-height: 574px;
}
.main-btn{
    color:white;
    background-color: aqua;
    border-radius: 15px;
    padding:20px 30px;
    font-weight: bold;
    border:0px;
    margin-top:60px;
}
.main-btn:hover{
    background-color: rgb(1, 164, 164);
}
header.header > ul > li > a:hover{
    color:red;
    text-decoration: underline;
}
#logo-ico{
    width:71px;
}


.info__card {
    width: 274.250px;
    height: 301px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: white;
}

.info__card img {
    width: 113px;
    height: 113px;
    /* filter: brightness(0.3); */
    margin: 28px auto 0 0;
}

.info__card p {
    width: 254.50px;
    height: 48px;
    margin: 38px 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.section__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:250px;
    gap:15px;
}
.section__apartaments{
    margin-top:200px;
    margin-bottom: 200px;
}
.section__apartaments .section__container {
    display: grid;
    grid-template-columns: 0.5fr 0.6fr 0.8fr;
    grid-template-rows: 300px 250px;
    gap: 15px;
}

.apartaments__image {
    width: 15px;
    height: 15px;
}

.apartaments__link {
    color: white;
    background-color: #2ec4bc;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.apartaments__address-inner{
    display:flex;
    align-items: center;
    gap:5px;
}
.apartaments__address-inner > p {
    margin: 0;
}
.apartaments__title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 75px;
}

.apartaments__address {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    padding-left: 75px;
}

.link__wrapper {
    padding-left: 40px;
    padding-right: 20px;
}

.apartaments__price {
    font-size: 20px;
    font-weight: 400;
    padding-left: 75px;
}

#fw-bold {
    font-weight: 700;
}

.apartaments__body__firstCard,
.apartaments__body__secondCard,
.apartaments__body__thirdCard{
    color: white;
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 15px;
    font-weight: 700;
}
.apartaments__body__firstCard {
    background-image: url(../images/rent-1.png);
    grid-column: 1/3;
    grid-row: 1/2;
}

.apartaments__body__secondCard {
    background-image: url(../images/rent-2.png);
    grid-column: 3/4;
    grid-row: 1/2;
}
.apartaments__body__thirdCard{
    background-image: url(../images/rent-1.png);
    grid-row:2/3;
    grid-column: 1/4;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 0px 25px 0px;
    width:100%;
}